html,body{
    height: 100%;
    overflow-y: hidden;
}
body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
.display-none{
    display: none !important;
}
.display-block{
    display: block;
}
.logo{
    height: auto;
}
.header{
    margin: 0 45px 0 15px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.buttons{
    float: right;
}
.header button, .projects button, .tickets button, .comments button, .submit-button{
    border: none;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
.request-button{
    background-color: rgb(7,61,141);
    color: rgb(255,255,255);
}
.login-button{
    background-color: rgb(255,255,255);
    color: rgb(32,71,95);
}
.main{
    display: table;
    height: 100%;
    box-shadow: -15px -1px 20px -3px black;
    -webkit-box-shadow: -15px -1px 20px -3px rgb(0, 0, 0);
    -moz-box-shadow: -15px -1px 20px -3px rgb(0, 0, 0);
}
.main h2, .subject p{
    padding-left: 20px;
}
.projects, .tickets, .subject{
    display: table-cell;
}
.projects h2{
    color:rgb(255,255,255);
}
.tickets h2, .subject h2{
    color: rgb(32,71,95);
}
.comments h2{
    display: inline;
}
.comments button{
    float: right;
}
.comments{
    position: relative;
}
.comment-button{
    position: absolute;
    right: 0;
    top: -10px;
}
.projects{
    width: 13.5vw;
    background-color: rgb(7, 71, 166);
}
.tickets{
    width: 12.5vw;
    background-color: rgb(244,245,247);
}
.subject{
    width: 70vw;
    background-color: rgb(255,255,255);
}
.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
}
.projects ul{
    background-color: rgb(7, 71, 166);
}
.tickets ul{
    background-color: rgb(244,245,247);
}
.main ul li a {
    display: block;
    text-decoration: none;
    font-weight: 300;
}
.projects ul li a{
    color: rgb(255,255,255);
    padding: 19px 16px;
}
.tickets ul li a{
    color: rgb(32,71,95);
    padding:19px 25px;
}
.projects li a.active, .projects li a:hover {
    background-color: rgb(7, 61,141);
}
.tickets li a.active, .tickets li a:hover {
    background-color: rgb(220,223,229);
}
.subject hr {
    display: block;
    /*height: 1px;*/
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.subject hr:first-of-type{
    height: 35px;
}
.subject hr:last-of-type{
    height: 30px;
}
.subject > p.comment{
    padding: 10px 20px;
}
.subject button{
    margin-left: 20px;
}
.comments form{
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
}
.comments form input:first-of-type{
    height: 30px;
    width: 50%;
    font-size: 17px;
}
.comments form .submit-button{
    float: none;
    clear: both;
    text-align: center;
}
#tickets span{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding-left: 9px;
}
#tickets a:first-of-type{
    text-decoration: none;
}
#tickets a:first-of-type.active,#tickets a:first-of-type.focus{
    color: rgb(32,71,95);
}
#tickets button.ticket-button, #tickets button.ticket-button.focus{
    background: rgb(244,245,247);
    color: rgb(32,71,95);
    outline: none;
    margin: 0;
    padding: 0 0 0 32px;
    font-size: 15px;
}
.input{
    margin-left: 20px;
    margin-bottom: 20px;
}






















/*color classes*/
.blue{
    color:rgb(7, 71, 166);
}
.active-blue{
    color:rgb(7,61,141);
}
.grey{
    color:rgb(244,245,247);
}
.active-grey{
    color:rgb(220,223,229);
}
.black{
    color:rgb(32,71,95);
}
.input-text{
    color: #bfb2cd;
    margin-bottom: 5px;

}
.input{
    padding-bottom: 3px;
    border-bottom: 0.5px solid #cecece;
}